{% load widget_tweaks %}

{% if form.non_field_errors %}
    <div class="login-error">
        {% for error in form.non_field_errors %}
            <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}

    <div class="form-group">

        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

        {% render_field field %}

        {% for error in field.errors %}
            <div class="field-error">{{ error }}</div>
        {% endfor %}

    </div>

{% endfor %}